@font-face {
    font-family: "Graphik Thai Loop";
    src: url("../fonts/graphikthailoop-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Graphik Thai Loop";
    src: url("../fonts/graphikthailoop-600.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Manifestor";
    src: url("../fonts/manifestor-500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Manifestor";
    src: url("../fonts/manifestor-700.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Utopia Std";
    src: url("../fonts/utopia-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }
  :root {
    --s-body: "Graphik Thai Loop", sans-serif !important;
    --s-heading: "Manifestor", sans-serif;
    --s-heading-alt: "Utopia Std", "Manifestor", serif;
    --s-heading-weight: 500;
    --s-heading-alt-weight: 400;
    --s-rounded-1: 0;
    --s-rounded-2: 0;
    --n-red: #a51d32;
    --n-dark: #2d2a4a;
    --n-blue: #261e72;
    --n-light: #f4f5f8;
    --n-warm: #f4ef9e;
    --n-yellow: #ffca11;
    --n-brown: #aa8156;
  }
  @media (min-width: 1240px) {
    :root {
      --s-container-width: 1240px;
    }
  }
  ._title {
    font-family: var(--s-heading-alt), var(--s-heading);
    font-weight: var(--s-heading-alt-weight);
    position: relative;
    font-size: 1.8em;
    margin-bottom: calc(6px + var(--s-space));
  }
  @media (min-width: 768px) {
    ._title {
      font-size: 2em;
    }
  }
  ._title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    background: var(--n-red);
  }
  ._center::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: calc(50% - 50px);
  }
  ._text_shadow {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  ._box_shadow {
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  }
  ._arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .gb-button {
    font-family: var(--s-heading);
    font-weight: var(--s-heading-weight);
    line-height: 1.3;
  }
  body {
    background-color: var(--n-light);
  }
  #masthead .s-container {
    padding: 0 10px;
    border-top: 3px solid var(--s-color-1);
    border-bottom: 3px solid #fff;
  }
  .site-title {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
  }
  .site-title small {
    display: block;
    font-size: 0.54rem;
  }
  @media (max-width: 1024px) {
    .nav-panel {
      padding-top: 84px;
    }
  }
  .s-nav > li {
    margin-bottom: 6px;
  }
  .s-nav .m-cols > .sub-menu > li > .sub-menu {
    opacity: 1;
    max-height: 1000px;
    position: relative;
    left: unset;
    top: unset;
    filter: unset;
    padding: 0;
  }
  .s-nav .col > a,
  .s-nav .col > svg {
    display: none;
  }
  .s-nav .col li > a {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  .s-nav .col span {
    display: inline-block;
    font-size: 0.6875rem;
    font-weight: 700;
    width: 54px;
    border: 1px solid;
    padding: 4px;
    text-align: center;
  }
  .m-button {
    padding: 10px 0;
  }
  .m-button a {
    color: #fff;
    background-color: var(--s-color-1);
    padding: 0.5rem 1.3rem;
    font-size: 1.125rem;
    border: 2px solid #fff;
    font-weight: normal;
  }
  .m-button a:hover {
    background-color: var(--n-yellow);
    color: var(--n-dark);
  }
  @media (max-width: 1024px) {
    .nav-panel .m-button {
      position: absolute;
      top: 10px;
      left: 20px;
      width: -moz-max-content;
      width: max-content;
    }
  }
  .m-nida {
    display: none;
  }
  .entry-pic .posted-cat {
    bottom: 0;
    left: 0;
    top: unset;
  }
  .posted-cat.-button a {
    background-color: var(--n-red);
    padding: 0.4em 0.6em;
  }
  .entry-excerpt {
    color: var(--s-text-2);
    font-family: var(--s-heading);
    font-size: 0.875em;
    margin-top: auto;
  }
  .entry-title {
    font-size: 1.125em;
  }
  .posted-on {
    margin-top: auto;
  }
  body.home .page-content {
    margin-bottom: 0;
  }
  .wp-block-quote {
    padding: 2rem 2rem 0;
    position: relative;
  }
  .wp-block-quote::before,
  .wp-block-quote::after {
    position: absolute;
    z-index: 0;
    display: block;
    width: 2rem;
    height: 2rem;
    content: "";
    font-size: 4rem;
    line-height: 1;
    font-family: Georgia, Times, Garamond, serif;
  }
  .wp-block-quote::before {
    top: 0;
    left: 0;
    content: open-quote;
  }
  .wp-block-quote::after {
    bottom: -1rem;
    right: 0;
    content: close-quote;
  }
  .page-header {
    background-color: var(--n-dark);
    min-height: 200px;
    padding: var(--s-space);
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin: 0 calc(-50vw + 50%) var(--s-space);
  }
  .page-header::before,
  .page-header::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: auto 70%;
    z-index: 2;
  }
  .page-header::before {
    background-image: url("../img/banner-l.svg");
    left: 0;
    background-position: left center;
  }
  .page-header::after {
    background-image: url("../img/banner-r.svg");
    right: 0;
    background-position: right center;
  }
  .page-header > * {
    z-index: 3;
  }
  .page-header > img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
  }
  .page-header h1 {
    margin: 0;
  }
  .page-header h2,
  .page-header .sub {
    font-size: 1.2rem;
    margin: 0;
  }
  .page-header a {
    color: #fff;
  }
  .heading {
    font-family: var(--s-heading);
    position: relative;
  }
  .heading::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100px;
    height: 3px;
    background: var(--n-red);
  }
  .heading-green {
    font-family: var(--s-heading);
    position: relative;
  }
  .heading-green::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100px;
    height: 3px;
    background: #00704a;
  }
  .s-events a {
    display: block;
    background-color: #fff;
    border-bottom: 1px solid var(--s-border-2);
    position: relative;
    display: flex;
    align-items: center;
    padding: 14px 22px 14px 0;
  }
  .s-events a:last-child {
    border-bottom: 0;
  }
  .s-events .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    min-width: 70px;
    color: var(--s-text-2);
  }
  .s-events .date small {
    text-transform: uppercase;
  }
  .s-events strong {
    font-size: 2em;
    line-height: 1;
    font-weight: normal;
  }
  .s-events h3 {
    font-size: 1em;
    margin: 0;
    line-height: 1.3;
  }
  .s-events small {
    display: block;
    font-size: 0.8em;
    margin-top: 4px;
    color: var(--s-text-2);
  }
  .s-events svg {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .footer-blocks {
    font-size: 0.874em;
  }
  .footer-bar {
    font-family: var(--s-heading);
  }
  .gform_heading {
    display: none;
  }
  #search-program .gb-inside-container {
    overflow: hidden;
  }
  .more {
    opacity: 0;
    height: 0px;
    pointer-events: none;
    transition: 0.5s;
  }
  .active-more {
    opacity: unset;
    height: unset;
    pointer-events: unset;
    transition: 0.5s;
  }
  .btn-loadmore {
    display: block;
    margin-left: auto;
    width: 115px;
    border: 0px;
    height: 34px;
    background: #c5c5c7;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #2d2a4a;
    cursor: pointer;
  }
  .btn-loadmore svg {
    margin-right: 9.5px;
    margin-bottom: -4px;
  }
  .search-program-form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    gap: 3%;
    background-color: #e5e5e7;
    font-size: 14px;
  }
  .search-program-form select:invalid {
    color: #6e6f7f;
  }
  .search-program-form option[value=""][disabled] {
    display: none;
  }
  .search-program-form input {
    background-color: #fff;
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
  }
  .search-program-form select {
    background-color: #fff;
    width: 48.5%;
    height: 44px;
    margin-bottom: 16px;
  }
  .search-program-form a {
    width: 100%;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    background: #a51931;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
  }
  .program-details {
    width: 100%;
    background-color: #fff;
  }
  .program-details a {
    min-height: 90px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e5e5e7;
    align-items: center;
    padding: 16px 26px 16px 16px;
    position: relative;
    gap: 6px;
  }
  .program-details a:hover p {
    color: var(--n-red);
  }
  .program-details svg {
    position: absolute;
    top: 40%;
    right: 10px;
  }
  .program-details p {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 0px;
    transition: color 0.1s;
  }
  .program-details .program-color {
    width: 3px;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: -1px;
  }
  .program-details .fat-code {
    width: 60px;
    font-weight: bold;
  }
  .program-details .factu {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #6e6f7f;
    margin-bottom: 0px;
    width: calc(100% - 66px);
  }
  .program-details .programcode {
    width: 60px;
  }
  .s-program {
    background-color: #fff;
    margin-bottom: 50px;
  }
  .head-program {
    background: #2d2a4a;
    display: flex;
    color: #fff;
    height: 40px;
    align-items: center;
    gap: 10px;
  }
  @media screen and (max-width: 429px) {
    .head-program {
      padding: 0 6px;
    }
  }
  .head-program p {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    margin: 0px;
  }
  .head-program p:first-child {
    font-weight: 700;
    font-size: 16px;
    min-width: 149px;
    line-height: 140%;
  }
  .bar-color {
    background-color: var(--s-color-1);
    display: flex;
    width: 380px;
    height: 100%;
    gap: 10px;
    align-items: center;
    padding-left: 26px;
  }
  .fac-search-program-form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    gap: 3%;
    background-color: #e5e5e7;
    font-size: 14px;
  }
  .fac-search-program-form .search-text {
    background-color: #fff;
    width: 45%;
    height: 44px;
  }
  .fac-search-program-form div {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .fac-search-program-form a {
    flex: 1;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    background: #a51931;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
  }
  .fac-search-program-form select {
    background: #fff;
  }
  .fac-search-program-form select:invalid {
    color: #6e6f7f;
  }
  .fac-search-program-form option[value=""][disabled] {
    display: none;
  }
  #major-list {
    position: relative;
    padding-bottom: var(--s-space);
  }
  #major-list.expand {
    max-height: 420px;
    padding-bottom: calc(var(--s-space) * 2);
    overflow: hidden;
  }
  #major-list.expand::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 150px;
    background: #fff;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 70%
    );
  }
  .expand-button {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 19;
    padding: 5px 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--s-color-1);
  }
  .expand-button svg {
    margin-left: 3px;
    vertical-align: -5px;
  }
  .expand-button svg path {
    fill: var(--s-color-1);
  }
  .expand-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .expand-button.active svg {
    transform: rotate(180deg);
  }
  .register-form .gform-theme--foundation .gform_fields,
  .reg-info .gform-theme--foundation .gform_fields {
    grid-row-gap: var(--s-space);
    grid-column-gap: var(--s-space);
  }
  .register-form
    .gform-theme--foundation
    .gform_fields
    input:not(.gfield-choice-input),
  .register-form .gform-theme--foundation .gform_fields select,
  .reg-info
    .gform-theme--foundation
    .gform_fields
    input:not(.gfield-choice-input),
  .reg-info .gform-theme--foundation .gform_fields select {
    min-height: 40px;
    box-shadow: none;
  }
  .register-form .gform-theme--foundation .gform_fields .gfield_radio,
  .reg-info .gform-theme--foundation .gform_fields .gfield_radio {
    flex-direction: inherit;
    gap: var(--s-space);
  }
  .register-form .gform-theme--foundation .gform_fields .gfield_radio input,
  .reg-info .gform-theme--foundation .gform_fields .gfield_radio input {
    margin-top: 4px;
  }
  .register-form .gform-theme--foundation .gform_fields .gfield_description,
  .reg-info .gform-theme--foundation .gform_fields .gfield_description {
    font-size: 0.7em;
  }
  .register-form .gfield--type-section,
  .reg-info .gfield--type-section {
    border: none;
  }
  .register-form .gsection_title,
  .reg-info .gsection_title {
    position: relative;
    margin-top: var(--s-space);
    margin-bottom: var(--s-space);
    font-size: 22px;
    font-weight: bold;
  }
  .register-form .gsection_title::after,
  .reg-info .gsection_title::after {
    position: absolute;
    left: 0;
    bottom: -15px;
    content: "";
    width: 100px;
    height: 4px;
    background-color: var(--s-color-2);
  }
  .register-form .gsection_desc,
  .reg-info .gsection_desc {
    margin-top: calc(var(--s-space) * -1);
    font-size: 16px;
  }
  .register-form .gform_footer,
  .reg-info .gform_footer {
    margin-top: calc(var(--s-space) * 2);
    justify-content: center;
  }
  .register-form .gform_footer .gform_button,
  .reg-info .gform_footer .gform_button {
    padding: 12px 30px 14px !important;
    font-size: 16px !important;
    border-radius: 0 !important;
  }
  .register-form .gform_confirmation_wrapper,
  .reg-info .gform_confirmation_wrapper {
    text-align: center;
  }
  .register-form .gform_confirmation_wrapper h3,
  .reg-info .gform_confirmation_wrapper h3 {
    font-size: 24px;
    font-weight: bold;
  }
  .register-form .gform_confirmation_wrapper hr,
  .reg-info .gform_confirmation_wrapper hr {
    margin: 30px auto 40px;
    border-bottom: 4px solid var(--s-color-2);
    max-width: 100px;
  }
  .register-form .gform_confirmation_wrapper h4,
  .reg-info .gform_confirmation_wrapper h4 {
    font-size: 24px;
  }
  .register-form .gform_confirmation_wrapper h5,
  .reg-info .gform_confirmation_wrapper h5 {
    font-size: 20px;
  }
  .register-form .address-list,
  .register-form .program-list,
  .reg-info .address-list,
  .reg-info .program-list {
    position: absolute;
    z-index: 999;
    padding: 16px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #dadada;
    display: none;
    max-width: 412px;
  }
  .register-form .address-list .address-item,
  .register-form .address-list .program-name,
  .register-form .program-list .address-item,
  .register-form .program-list .program-name,
  .reg-info .address-list .address-item,
  .reg-info .address-list .program-name,
  .reg-info .program-list .address-item,
  .reg-info .program-list .program-name {
    padding: 8px 0;
    display: block;
    line-height: 1.5;
    border-bottom: 1px solid #dadada;
  }
  .register-form .address-list .address-item:last-child,
  .register-form .address-list .program-name:last-child,
  .register-form .program-list .address-item:last-child,
  .register-form .program-list .program-name:last-child,
  .reg-info .address-list .address-item:last-child,
  .reg-info .address-list .program-name:last-child,
  .reg-info .program-list .address-item:last-child,
  .reg-info .program-list .program-name:last-child {
    border: none;
  }
  .page-template-dashboard .site-content {
    position: relative;
  }
  .page-template-dashboard .site-content .s-container {
    max-width: 100%;
    padding: 0;
  }
  .page-template-dashboard .site-sidebar {
    padding: var(--s-space);
    max-width: initial;
    width: auto;
    color: #fff;
    background-color: var(--n-dark);
  }
  .page-template-dashboard .site-sidebar h1 {
    margin: calc(var(--s-space) * 1.5) 0 calc(var(--s-space) * 2);
    font-size: 24px;
    font-weight: bold;
  }
  .page-template-dashboard .site-sidebar .nav-inline a {
    display: block;
    padding: 14px var(--s-space) 16px;
    margin: calc(var(--s-space) / 2) 0;
    color: #fff;
    font-size: 18px;
  }
  .page-template-dashboard .site-sidebar .nav-inline a svg {
    margin-right: 8px;
    vertical-align: -3px;
  }
  .page-template-dashboard .site-sidebar .nav-inline .current_page_item a {
    color: var(--n-dark);
    border-radius: 5px 0 0 5px;
    background-color: #fff;
  }
  .page-template-dashboard .site-sidebar .nav-inline .current_page_item a svg,
  .page-template-dashboard .site-sidebar .nav-inline .current_page_item a path {
    fill: var(--n-dark);
  }
  .page-template-dashboard .site-sidebar .nav-inline > div {
    display: block;
    align-items: start;
  }
  .page-template-dashboard .site-sidebar .nav-inline > div li {
    display: block;
    margin-right: calc(var(--s-space) * -1);
  }
  .page-template-dashboard .site-main {
    min-height: 450px;
    max-width: 100vw;
    padding: 0 var(--s-space);
  }
  .page-template-dashboard .dashboard h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--n-dark);
  }
  .page-template-dashboard .reg-info {
    padding: 0;
    font-family: var(--s-heading);
    --s-border-1: #dadada;
  }
  .page-template-dashboard .reg-info .gv-widgets-header .gv-left {
    padding-right: 0;
  }
  .page-template-dashboard .reg-info .gv-widget-search {
    flex-flow: row wrap;
  }
  .page-template-dashboard .reg-info .gv-widget-search input,
  .page-template-dashboard .reg-info .gv-widget-search select {
    padding: 6px 16px;
    height: 40px;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    background-color: #fff;
  }
  .page-template-dashboard .reg-info .gv-widget-search .gv-search-box label {
    display: none;
  }
  .page-template-dashboard .reg-info .gv-widget-search .gv-search-box {
    flex-grow: 1;
  }
  .page-template-dashboard .reg-info .gv-widget-search .gv-search-box-submit {
    flex: 1 1 10em;
    align-self: auto;
  }
  .page-template-dashboard
    .reg-info
    .gv-widget-search
    .gv-search-box-submit
    .gv-search-button {
    color: #fff;
    background-color: var(--n-red);
  }
  .page-template-dashboard
    .reg-info
    .gv-widget-search
    .gv-search-box-submit
    .gv-search-button:hover {
    cursor: pointer;
    background-color: #730000;
  }
  .page-template-dashboard .reg-info .gv-datatables-container,
  .page-template-dashboard .reg-info .gv-table-container {
    padding: 8px var(--s-space);
    border: 1px solid var(--s-border-1);
    border-radius: 5px;
    background: #fff;
  }
  .page-template-dashboard .reg-info .dataTables_scrollHeadInner {
    font-size: 16px;
  }
  .page-template-dashboard .reg-info .dataTables_scrollBody {
    font-size: 14px;
    background: #fff;
  }
  .page-template-dashboard .reg-info .dataTables_scrollBody .odd:first-child td {
    padding-top: 16px;
  }
  .page-template-dashboard .reg-info .dataTables_scrollFoot,
  .page-template-dashboard .reg-info .dataTables_info {
    display: none;
  }
  .page-template-dashboard .reg-info table.dataTable thead th,
  .page-template-dashboard .reg-info table.dataTable thead td {
    padding: 15px 10px;
    font-weight: normal;
    border-bottom: 1px solid #c5c5c7;
  }
  .page-template-dashboard .reg-info table.dataTable tbody th,
  .page-template-dashboard .reg-info table.dataTable tbody td {
    padding: 8px 10px;
    border: none;
    background-color: #fff;
  }
  .page-template-dashboard
    .reg-info
    table.dataTable.display
    tbody
    tr.odd
    > .sorting_1,
  .page-template-dashboard
    .reg-info
    table.dataTable.order-column.stripe
    tbody
    tr.odd
    > .sorting_1,
  .page-template-dashboard
    .reg-info
    table.dataTable.display
    tbody
    tr.even
    > .sorting_1,
  .page-template-dashboard
    .reg-info
    table.dataTable.order-column.stripe
    tbody
    tr.even
    > .sorting_1 {
    background-color: #fff;
  }
  .page-template-dashboard .reg-info .gv-back-link {
    display: none;
  }
  .page-template-dashboard .reg-info .gv-table-container {
    padding-top: var(--s-space);
    padding-bottom: var(--s-space);
  }
  .page-template-dashboard .reg-info .gv-table-container a {
    color: var(--n-red);
  }
  .page-template-dashboard .reg-info .gv-table-container table {
    margin: 0 auto;
  }
  .page-template-dashboard .reg-info .gv-table-container table tr {
    border-bottom: 1px solid var(--s-border-1);
  }
  .page-template-dashboard .reg-info .gv-table-container table th,
  .page-template-dashboard .reg-info .gv-table-container table td {
    padding: 8px var(--s-space);
    font-weight: normal;
    font-size: 14px;
  }
  .page-template-dashboard .reg-info .gform-body input,
  .page-template-dashboard .reg-info .gform-body select {
    background-color: #fff;
  }
  .page-template-dashboard .reg-info .gform-body .gfield_radio {
    display: flex;
    gap: 16px;
  }
  .page-template-dashboard .reg-info .gform-body .gsection_desc {
    display: none;
  }
  .page-template-dashboard .reg-info .gform-body .gsection {
    border-bottom: none;
  }
  .table-main tr {
    font-family: var(--s-heading);
    color: #fff;
  }
  .table-main tr:nth-child(odd) {
    font-size: 14px;
    background-color: var(--n-red);
  }
  .table-main tr:nth-child(even) {
    font-size: 16px;
    background-color: var(--n-blue);
  }
  .table-main tr td {
    padding: 10px 16px;
    line-height: 2;
  }
  ._nowrap {
    white-space: nowrap;
  }
  .input-readonly input {
    pointer-events: none;
  }
  .chancellor {
    display: flex;
    gap: 40px;
  }
  .chancellor_img {
    position: relative;
  }
  .chancellor_img p {
    position: absolute;
    bottom: 0;
    background: #a51d3f;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    min-width: 112px;
    min-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .personnel-card {
    background: #fff;
    border: 1px solid rgba(39, 73, 136, 0.2);
    padding-bottom: 13px;
  }
  .personnel-card p,
  .personnel-card h5 {
    padding: 0 13px;
    margin-bottom: 5px;
  }
  .personnel-card p {
    font-size: 14px;
  }
  .sec-course {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
    width: unset;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .sec-course ._title {
    font-size: 20px;
    font-weight: bold;
    line-height: 3;
    margin-bottom: 10px;
  }
  .sec-course ol {
    list-style: none;
    padding: 0;
  }
  .sec-course ol li {
    counter-increment: item;
    position: relative;
    padding-left: 30px;
  }
  .sec-course ol li:before {
    color: #fff;
    background-color: var(--s-color-1);
    content: counter(item);
    counter-increment: index;
    border-radius: 99px;
    text-align: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 0;
  }
  @media (min-width: 1024px) {
    .sec-course {
      padding-top: 60px;
      padding-bottom: 60px;
      position: relative;
    }
    .sec-course::after {
      content: "";
      display: block;
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #d5d5d7;
    }
    .sec-course .course-content {
      grid-column-gap: 60px;
    }
  }
  .s-underline {
    position: relative;
    z-index: 0;
  }
  .s-underline::after {
    content: "";
    display: block;
    height: 6px;
    background-color: var(--n-yellow);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: -1;
  }
  .course-lecturer .lecturer {
    display: flex;
    align-items: start;
  }
  .course-lecturer .pic img {
    width: 120px;
    height: auto;
    border-radius: 120px;
    border: 1px solid #e5e5e7;
  }
  .course-lecturer .info {
    padding: var(--s-gap) 0;
  }
  .course-download {
    display: flex;
    align-items: center;
  }
  .course-download ul {
    list-style: none;
  }
  .course-download li {
    display: inline-block;
  }
  .btn-download {
    display: flex;
    align-items: center;
    border: 2px solid var(--s-color-1);
    background-color: rgba(0, 0, 0, 0);
    padding: 8px 8px;
  }
  .btn-download:hover {
    background-color: var(--s-color-1);
    color: #fff;
  }
  .s-content-card.-course .posted-cat.-button a {
    background-color: var(--s-color-1);
    color: #fff;
  }
  .s-content-card.-course .entry-info {
    position: relative;
  }
  .s-content-card.-course .btn-readmore {
    position: absolute;
    bottom: var(--s-gap);
    right: var(--s-gap);
  }
  .entry-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seed-social {
    margin: 0;
  }
  .seed-social > li {
    margin: 0;
  }
  .seed-social a {
    min-width: 0;
    background: none !important;
  }
  .seed-social svg {
    color: #2d2a4a;
  }
  .seed-social span.text,
  .seed-social span.count {
    display: none;
  }
  .n-download {
    font-family: var(--s-heading);
    background-color: #fff;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  }
  .n-download .n-files-header {
    display: grid;
    gap: var(--s-gap);
    color: #fff;
    background-color: var(--s-color-1);
    padding: 8px 20px;
  }
  @media (min-width: 1024px) {
    .n-download .n-files-header {
      grid-template-columns: 7fr 1fr 40px;
    }
  }
  .n-download .n-files__item {
    display: flex;
    gap: 6px;
    border-left: 4px solid var(--s-color-1);
    padding: 8px 20px;
  }
  .n-download .n-files__item .col-cat {
    white-space: nowrap;
  }
  @media (min-width: 1024px) {
    .n-download .n-files__item {
      display: grid;
      gap: var(--s-gap);
      grid-template-columns: 7fr 1fr 40px;
    }
  }
  .n-download .col-link {
    text-align: center;
    color: #c5c5c7;
  }
  .n-download .col-link:hover {
    color: var(--s-color-1);
  }
  .facetwp-facet-file_category .facetwp-dropdown {
    font-family: var(--s-heading);
    background-color: #fff;
  }
  .facetwp-pager {
    text-align: center;
    padding-top: var(--s-gap);
    padding-bottom: var(--s-gap);
  }
  .facetwp-pager .facetwp-page {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  .facetwp-pager .facetwp-page.active {
    background-color: #fff;
    border: 1px solid var(--s-color-1);
    border-radius: 100%;
  }
  .s-content-download {
    padding-top: calc(var(--s-gap) + 8px);
    padding-bottom: calc(var(--s-gap) + 8px);
    background-color: #fff;
    position: relative;
    font-size: 1rem;
  }
  .s-content-download .posted-cat {
    position: absolute;
    top: 0;
    left: 0;
  }
  .s-content-download .entry-info > a {
    position: absolute;
    bottom: 6px;
    right: 6px;
    color: #c5c5c7;
  }
  .s-content-download .entry-info > a:hover {
    color: var(--s-color-1);
  }
  .calendar-group {
    width: 100%;
    position: relative;
    font-family: var(--s-heading);
  }
  .calendar-group > a {
    position: absolute;
    top: 16px;
    font-size: 32px;
    line-height: 18px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 3px;
  }
  .calendar-group .c-prev {
    left: 16px;
  }
  .calendar-group .c-next {
    right: 16px;
  }
  .c-table {
    width: 100%;
    table-layout: fixed;
    background-color: #fff;
    border: var(--s-gap) solid rgba(0, 0, 0, 0);
  }
  .c-table th,
  .c-table td {
    color: #333;
    text-align: center;
    height: 36px;
    padding: 12px 2px;
  }
  .c-table th {
    vertical-align: middle;
  }
  .c-table caption {
    font-weight: bold;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .has-event {
    font-weight: bold;
  }
  .has-event .dot {
    line-height: 1;
    font-size: 0.8em;
    color: var(--s-color-1);
  }
  .current-day {
    color: #fff;
    background-color: var(--s-color-1);
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
  }
  .c-day {
    background-color: var(--s-color-1);
    color: #fff;
    padding: 6px 10px;
    width: 100px;
    min-width: 100px;
    text-align: center;
  }
  .c-day strong {
    font-size: 2.6em;
    display: block;
    line-height: 1;
  }
  .c-day small {
    display: block;
    line-height: 1.2;
    padding: 6px 0;
  }
  .events-group {
    background-color: #fff;
    margin-bottom: var(--s-space);
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  }
  .events-header {
    font-family: var(--s-heading);
    font-weight: bold;
    color: #fff;
    background-color: var(--s-color-1);
    padding: 8px 20px;
  }
  .content-day {
    font-size: 18px;
    font-family: var(--s-heading);
    padding: 20px;
    border-left: 3px solid var(--s-color-1);
  }
  .content-day > a {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--s-gap) / 2);
    color: #000;
  }
  @media (min-width: 1024px) {
    .events-header,
    .content-day > a {
      display: grid;
      grid-template-columns: 180px 1fr 200px 150px;
      gap: var(--s-gap);
    }
    .events-header .lecturer {
      text-align: center;
    }
    .fee {
      text-align: center;
    }
  }
  .research-post .entry-info,
  .research-post .entry-info-list {
    position: relative;
    gap: 40px;
  }
  .research-post .posted-cat.-button a {
    position: absolute;
    top: 0;
    left: 0;
    width: 139px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .research-post .entry-title {
    font-size: 14px;
    color: var(--s-color-1);
  }
  .research-post .posted-on {
    display: flex;
    justify-content: space-between;
  }
  .research-post .posted-on:after {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C4.48603 0 0 4.48604 0 10C0 15.514 4.48603 20 10 20C15.514 20 20 15.514 20 10C20 4.48604 15.514 0 10 0ZM10 1.5C14.7033 1.5 18.5 5.2967 18.5 10C18.5 14.7033 14.7033 18.5 10 18.5C5.29669 18.5 1.5 14.7033 1.5 10C1.5 5.2967 5.29669 1.5 10 1.5ZM10.7422 6.24219C10.5929 6.24222 10.4471 6.28679 10.3233 6.37019C10.1995 6.45358 10.1034 6.57202 10.0473 6.71033C9.99119 6.84865 9.97763 7.00056 10.0083 7.14662C10.0391 7.29269 10.1127 7.42627 10.2197 7.53027L11.9395 9.25H6.25C6.15062 9.24859 6.05194 9.26695 5.95972 9.30402C5.86749 9.34107 5.78355 9.3961 5.71277 9.46588C5.642 9.53566 5.58579 9.61882 5.54743 9.71051C5.50907 9.8022 5.48932 9.90061 5.48932 10C5.48932 10.0994 5.50907 10.1978 5.54743 10.2895C5.58579 10.3812 5.642 10.4643 5.71277 10.5341C5.78355 10.6039 5.86749 10.6589 5.95972 10.696C6.05194 10.733 6.15062 10.7514 6.25 10.75H11.9395L10.2197 12.4697C10.1477 12.5388 10.0903 12.6216 10.0507 12.7132C10.0111 12.8048 9.99019 12.9034 9.98918 13.0032C9.98816 13.1029 10.0071 13.2019 10.0448 13.2943C10.0825 13.3867 10.1383 13.4706 10.2088 13.5412C10.2794 13.6117 10.3633 13.6675 10.4557 13.7052C10.5481 13.7429 10.6471 13.7618 10.7468 13.7608C10.8466 13.7598 10.9452 13.7389 11.0368 13.6993C11.1284 13.6597 11.2112 13.6023 11.2803 13.5303L14.2803 10.5303C14.4209 10.3896 14.4999 10.1989 14.4999 10C14.4999 9.80112 14.4209 9.61038 14.2803 9.46973L11.2803 6.46973C11.2104 6.39773 11.1267 6.3405 11.0343 6.30142C10.9419 6.26233 10.8425 6.24219 10.7422 6.24219Z' fill='%23C5C5C7'/%3E%3C/svg%3E%0A");
  }
  .research-calendar .s-events h3 {
    color: var(--s-color-3);
  }
  .course-filter-month select {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: var(--s-border-1);
  }
  .course-filter-month button {
    color: #fff;
    background-color: var(--s-color-1);
    border: 1px solid #e5e5e5;
    border-radius: var(--s-border-1);
    padding: 6px;
    min-width: 80px;
    cursor: pointer;
  } /*# sourceMappingURL=style-m.css.map */